<div class="hero-unit">
  <p>Created at: <%= @comment.created_at.strftime('%B %d, %Y') %></p>
  <p>Posted by: <%= @comment.user.email %></p>
  <p><a href="/post/<%= @comment.post.id %>">Parent post</a></p>
  <p><%= @comment.content %></p>
</div>