<h1>Create a Post</h1>

<% if @post %>
  <% @post.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>


<form action="/post/new" method="post" class="login-box">
  <input type="text" name="title" class="input-small" placeholder="Title">
  <input type="text" name="url" class="input-small" placeholder="http://yoururl.com">
  <textarea name="text" cols="25" rows="5">Your napper news here</textarea>
  <input type="submit" value="Create" class="btn">
</form>

Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the comments page. If there is a url, the text will be ignored.
